@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@600&display=swap');

html{font-size: 62,5%;}

.body{
    background-image: url(../multimedia/fono-nav.jpg);
    background-attachment : scroll;
    height: 1200px;}

header{background-color: rgb(233, 205, 241);
       position: sticky;
       padding-bottom: 25px;
       margin: 0px;
    text-decoration: none;}

.img-nav{width: 150px;
         display: inline;
         position: static;
         padding: 10px;
         left: 600px;
         right: 100px;
        align-content:center;}

.li-inicio{background-color: azure;            
            display: inline-block;
            padding:5px;
        text-decoration: dashed;
    border-radius: 15%;}

.li-conosenos{background-color: azure;
              display: inline-block;
              padding:5px;
              border-radius: 15%}

.li-servicios{background-color: azure;
              display: inline-block;
              padding:5px;
              border-radius: 15%}

.li-portales{background-color: azure;
             display: inline-block;
             padding:5px;
             border-radius: 15%}

.li-promo{background-color: azure;
          display: inline-block;
          padding:5px;
          border-radius: 15%}

.position1{position:absolute; 
           margin:15px;
           margin-bottom: 5px;   
           right:20px;
           bottom:10px;
           display: flex;
           justify-content:space-between;
           padding: 5px;
            }
nav{justify-content: space-between;}

.h1{color: rgba(58, 59, 59, 0.7);
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 1,5rem;
    line-height: 0,5rem;
    position: absolute;
    left: 10;
    top: 130px;
    margin-left: 10px;}

.video-inicio{ vertical-align: bottom;
    box-sizing: border-box;
              align-content: center;
              margin: 0px;
              padding: 10px;
              top:  200px;
              left: 250px;
              position:absolute; 
              width: 900px;
              height: 700px;}

section{ display: flex;
    vertical-align: 1000px;
    margin: 0px;
bottom: 800px}

.div-inicio{ position: relative;
top: 300px; }

p{display: flex;
     position: absolute;
     border: 1px; color: azure;
     background-color: rgb(160, 179, 179);
     padding: 30px;
     margin: 15px;
     width: 700PX;}

.text-center{position: relative;
            top: 300px;
            font-family: 'Dancing Script', cursive;
            font-size: 1.5rem;    
            line-height: 2rem;
            text-align: center;}
        
.text-title{color: darkslateblue;
                font-size: 3rem;
                line-height: 2.5rem;
                position: relative;
                right: auto;
                left: 40%;
                text-align: justify;
                font-family: 'Dancing Script', cursive;}

.img-inicio{position: relative;
            top: 550px;
            right: 0px;
            width: 500px;
            height: 600px;
            margin-top: 185px; }

iframe{position: relative;
       top: 1350px;
       bottom: 700pxx;
       right: 500px;
       width: 500PX;
       margin: 0PX;
       height: 310px;}

.section-contact{ display: flex;
                  align-content: center;
                  height: 800px;
                  width: 80%;
                 bottom: 100px;}

.footer-h4{
        font-size: 2rem;
        font-family: 'Dancing Script', cursive;
        font-weight: 600;
        position: relative;
        top: 400px;
        right: auto;
        left: auto;}

h4{position: relative;
   bottom: 25px;}
    
.position-img-footer{ position: relative;
                      bottom: auto;}

.img-conocenos{display:inline-block;
    margin-top: 10px;
    top: 200px;
    left: 500px;
    position: absolute;}

.p1{top: 777px;
    left: 700px;
    position: absolute;
    height: 335px;
    width: 610px;
    padding: 0;
    text-align: center;}

.video-conocenos{display:inline-block;
    margin-top: 10px;
    top: 600px;
    left: 100px;
    position: absolute;}

.video-conocenos2{
    margin-top: 10px;
    top: 950px;
    left: 100px;
    position: absolute;}

.p2{top: 1125px;
    left: 700px;
    position: absolute;
    height: 280px;
    width: 550px;
    text-align: center;}

.video-concenos3{ margin-top: 10px;
    top: 1500px;
    left: 100px;
    position: absolute;}

.pp{position: relative;
    width: 400px;
    height: 250px;
    padding: 0px;}

.footer-conocenos{ font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    position: relative;
    top: 1100px;
    right: auto;
    left: auto;}

.section-servicios{box-sizing: border-box;}

.row{position: relative;
     left: 300px;
     top:50px}

.p-position{position: relative;
            top: 35px;}

.h3-dp{position: relative;
        top: 50px;}

.p-dp{position: relative;
        top:50px}

.h3-tx{position: relative;
       top: 50px;}

.p-dx{position: relative;
      top: 50px;}

.ul-li{position: relative;
       position: center;
       top: 50px;
       list-style: none;
       color: darkslategrey;
       font-size: 3rem;
       line-height: 4rem;}

.h3-al{position: relative;
       top: 50px;}

.p-al{position: relative;
      top: 50px;}

.ifrem-al{ position: relative;
           top: 150px;
           left:300px}

.p-pt{position: relative;
      top:20px;}

.vid-pt{position: relative;
        top: 0px;
        left: 400px;}

.p-p{position: relative;
     top: 0px;}

.ol{list-style: none;}

.rows{display: flex;
      padding: 10px;}

.column{flex: 25%;
        padding: 10px;}

.p-link{position: relative;
        top: 0px;}

.title-link{position: relative;
            top: 0px;
            left: 500px;}

.footer-portales{font-size: 2rem;
                 font-family: 'Dancing Script', cursive;
                 font-weight: 600;
                 position: relative;
                 top: 0px;
                 right: auto;
                 left: auto;}

.img-pro{width: 100%;}

a:hover{ background: rgba(55, 116, 209, 0,97);}

main div div a{ text-decoration: none;
                color: azure;
                background: blue ;
                padding: 8px;
                border-radius:5px ;
                top: 20px;}

.tarjeta{font-family: 'Dancing Script', cursive;
         width: 250px;
         border: solid  gray 2px;
         display: flex;
         flex-direction: column;
         padding: 10px;}

.descripcion{align-items: center;
             text-align: center;
             display: flex;
             bottom: 10px;
             padding: 5px;}

articul{display: flex;
         padding: 50px;
         justify-content: space-around;}




























         